
/* SUCCESS table*/

table.success_table_css {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 30px;
}

table.success_table_css {
    border: 1px solid #00b33c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #00b33c;
}

.success_table_css tr:nth-child(even) {background: #FFF}
.success_table_css tr:nth-child(odd) {background: #e6ffe6}

.success_table_css th {
    background-color: #00b33c;
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.success_table_css td {
    padding-left: 40px;
    padding-right: 40px;
}


/* PENDING table*/

table.pending_table_css {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 30px;
}

table.pending_table_css {
    border: 1px solid #ffa31a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #ffa31a;
}

.pending_table_css tr:nth-child(even) {background: #FFF}
.pending_table_css tr:nth-child(odd) {background: #ffebcc}

.pending_table_css th {
    background-color: #ffa31a;
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.pending_table_css td {
    padding-left: 40px;
    padding-right: 40px;
}


/* REMAINING table*/

table.remaining_table_css {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 30px;
}

table.remaining_table_css {
    border: 1px solid #ff1a1a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #ff1a1a;
}

.remaining_table_css tr:nth-child(even) {background: #FFF}
.remaining_table_css tr:nth-child(odd) {background: #ffe6e6}

.remaining_table_css th {
    background-color: #ff1a1a;
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.remaining_table_css td {
    padding-left: 40px;
    padding-right: 40px;
}
