
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#success_table {
    width: 100%;
    background-color: #ffffff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px
}
