

table {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 30px;
}

table {
    border: 1px solid #00b33c;
    border-radius: 5px;
    -moz-border-radius: 5px;
    //padding: 5px;
    background: #00b33c;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #e6ffe6}

th {
    //border: 1px solid #FFF;
    background-color: #00b33c;
    color: #FFF;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;

    /*
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background: #839f38;
    */
}

td {
    padding-left: 40px;
    padding-right: 40px;
    //border: 1px solid black;
    //background: #FFF;
    /*
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    background: #839f38;
    */
}


table, th, td {
    //border: 1px solid black;
    //border-collapse: collapse;
}
th, td {
    //padding: 5px;
    //text-align: left;
}
table#success_table {

  border-collapse: separate;
  border-spacing: 0;

  border: 1px solid #28a745;;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px;

  margin-left: 30px;

}

th#success_table {

  border: 1px solid #28a745;

  background-color: #167F92;
  background: #167F92;
}

td#success_table {
  border-collapse: separate;
  border-spacing: 0;

  border: 1px solid #28a745;

  background-color: #167F92;
}
